body {
  background-color: rgb(255, 243, 220);
  font-family: Arial;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(243, 205, 101);
  border: 5px solid #444;
}
